# Data Wrangling Template

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import os

## Variables

In [5]:
folder = os.curdir+'/rt_html/'
folder

'./rt_html/'

## Gather

In [3]:
df = pd.read_csv('bestofrt.tsv', sep='\t')
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [6]:
url = 'https://www.rottentomatoes.com/m/et_the_extraterrestrial'
response = requests.get(url)

In [7]:
with open("et_the_extraterrestrial.html", mode = 'wb') as file:
    file.write(response.content)

In [8]:
with open(folder+"et_the_extraterrestrial.html") as file:
    soup = BeautifulSoup(file, 'lxml')

In [12]:
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

In [92]:
df_list = []
for movie_html in os.listdir(folder):
    with open(os.path.join(folder,movie_html), 'rb') as file:
        soup = BeautifulSoup(file,'lxml')
    title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
    audience_score = soup.find('div', class_= 'audience-score meter').find('span').contents[0][:-1]
    num_audience_ratings = soup.find('div', class_= 'audience-info hidden-xs superPageFontColor')
    num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',', '')
    num_audience_ratings = int(num_audience_ratings)
    df_list.append({'title': title,
                    'audience_score': int(audience_score),
                    'number_of_audience_ratings': num_audience_ratings})

In [93]:
df = pd.DataFrame(df_list, columns = ['title','audience_score','number_of_audience_ratings'])
df.sort_values('title', inplace = True)
df.reset_index(drop = True, inplace = True)
df.tail()

                  title  audience_score  number_of_audience_ratings
95     Toy Story (1995)              92                     1107731
96            Up (2009)              90                     1201878
97       Vertigo (1958)              93                      101454
98  Wonder Woman (2017)              90                      112955
99      Zootopia (2016)              92                       98633

In [95]:
df_solution  = pd.read_pickle('df_solution.pkl')
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(drop = True, inplace = True)
df_solution.head()

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,12 Years a Slave (2013),90,138789
2,A Hard Day's Night (1964),89,50067
3,A Streetcar Named Desire (1951),90,54761
4,Alien (1979),94,457186

In [96]:
df.compare(df_solution)

Empty DataFrame
Columns: []
Index: []

In [97]:
pd.testing.assert_frame_equal(df, df_solution)

## Assess

## Clean

#### Define

#### Code

#### Test