# Data Wrangling Template

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import os

## Variables

In [2]:
folder = os.curdir+'/rt_html/'
folder

'./rt_html/'

## Gather

In [3]:
df = pd.read_csv('bestofrt.tsv', sep='\t')
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [4]:
url = 'https://www.rottentomatoes.com/m/et_the_extraterrestrial'
response = requests.get(url)

In [5]:
with open("et_the_extraterrestrial.html", mode = 'wb') as file:
    file.write(response.content)

In [6]:
with open(folder+"et_the_extraterrestrial.html") as file:
    soup = BeautifulSoup(file, 'lxml')

In [15]:
soup.find('title')

In [8]:
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'E.T. The Extra-Terrestrial\xa0(1982)'

In [54]:
df_list = []
for movie_html in os.listdir(folder):
    with open(os.path.join(folder,movie_html)) as file:
        soup = BeautifulSoup(file,'lxml')
    title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
    audience_score = soup.find('div', class_= 'audience-score meter').find('span').contents[0][:-1]
    num_audience_ratings = soup.find('div', class_= 'audience-info hidden-xs superPageFontColor')
    num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',', '')
    num_audience_ratings = int(num_audience_ratings)
    df_list.append({'title': title,
                    'audience_score': int(audience_score),
                    'number_of_audience_ratings': num_audience_ratings})

In [56]:
df = pd.DataFrame(df_list, columns = ['title','audience_score','number_of_audience_ratings'])
df.head()

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,The 39 Steps (1935),86,23647
2,The Adventures of Robin Hood (1938),89,33584
3,All About Eve (1950),94,44564
4,All Quiet on the Western Front (1930),89,17768

## Assess

## Clean

#### Define

#### Code

#### Test