In [1]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('./data/fuel_econ.csv')

In [4]:
df.displ.describe()

count    3929.000000
mean        2.950573
std         1.305901
min         0.600000
25%         2.000000
50%         2.500000
75%         3.600000
max         7.000000
Name: displ, dtype: float64

In [5]:
bins_x = np.arange(0.6, 7+0.3,0.3 )
bins_x

array([0.6, 0.9, 1.2, 1.5, 1.8, 2.1, 2.4, 2.7, 3. , 3.3, 3.6, 3.9, 4.2,
       4.5, 4.8, 5.1, 5.4, 5.7, 6. , 6.3, 6.6, 6.9, 7.2])

In [20]:
k = pd.cut(df['displ'], bins_x, right = False, include_lowest=False, labels = False)
k[7]

4

In [11]:
df['displ']

0       3.8
1       2.0
2       3.6
3       3.6
4       2.4
       ...
3924    1.8
3925    2.0
3926    2.0
3927    3.4
3928    3.4
Name: displ, Length: 3929, dtype: float64

In [21]:
df.loc[7]

id                      32214
make                  Hyundai
model           Genesis Coupe
year                     2013
VClass        Subcompact Cars
drive        Rear-Wheel Drive
trans         Automatic 8-spd
fuelType     Premium Gasoline
cylinders                   4
displ                     2.0
pv2                        89
pv4                         0
city                   17.446
UCity                 21.7946
highway               26.6295
UHighway              37.6731
comb                  20.6507
co2                       432
feScore                     5
ghgScore                    5
Name: 7, dtype: object

In [25]:
df

,id,make,model,year,VClass,drive,trans,fuelType,cylinders,displ,pv2,pv4,city,UCity,highway,UHighway,comb,co2,feScore,ghgScore
0,32204,Nissan,GT-R,2013,Subcompact Cars,All-Wheel Drive,Automatic (AM6),Premium Gasoline,6,3.8,79,0,16.4596,20.2988,22.5568,30.1798,18.7389,471,4,4
1,32205,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Automatic (AM-S6),Premium Gasoline,4,2.0,94,0,21.8706,26.9770,31.0367,42.4936,25.2227,349,6,6
2,32206,Volkswagen,CC,2013,Compact Cars,Front-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94,0,17.4935,21.2000,26.5716,35.1000,20.6716,429,5,5
3,32207,Volkswagen,CC 4motion,2013,Compact Cars,All-Wheel Drive,Automatic (S6),Premium Gasoline,6,3.6,94,0,16.9415,20.5000,25.2190,33.5000,19.8774,446,5,5
4,32208,Chevrolet,Malibu eAssist,2013,Midsize Cars,Front-Wheel Drive,Automatic (S6),Regular Gasoline,4,2.4,0,95,24.7726,31.9796,35.5340,51.8816,28.6813,310,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,39882,Toyota,Prius Prime,2018,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),Regular Gasoline,4,1.8,0,0,55.2206,78.8197,53.0000,73.6525,54.4329,78,10,10
3925,39898,Hyundai,Sonata Hybrid,2018,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0,106,39.0000,55.9000,44.3066,64.0000,41.0000,217,9,9
3926,39899,Hyundai,Sonata Hybrid SE,2018,Midsize Cars,Front-Wheel Drive,Automatic (AM6),Regular Gasoline,4,2.0,0,106,40.0000,56.0000,46.0000,64.0000,42.0000,212,9,9
3927,39900,Lexus,LS 500,2018,Midsize Cars,Rear-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99,0,19.2200,24.2000,30.2863,43.4000,23.0021,387,5,5
3928,39901,Lexus,LS 500 AWD,2018,Midsize Cars,All-Wheel Drive,Automatic (S10),Premium Gasoline,6,3.4,99,0,18.0431,22.6000,27.0000,39.3000,21.3945,417,4,4